.home{
    background:#EAEDED;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

.home__img{
    width: 100%;
    z-index:-1 ;
    margin-bottom: -150px;
    mask-image: linear-gradient(180deg,#000,transparent);
}
.home__container{

}
.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: hidden;

}
@media screen and (max-width: 992px) {
    .home__row {
      overflow-x: scroll;
  }
  /* .product{
      margin-top:100px
  } */
}